-if benefit.first_diagnostic.rstrip.lstrip == ''
  .row
    .col-md-12.text-center
      .panel.panel-danger
        .panel-heading
          Error de facturación
        .panel-body
          No ha sido ingresado el CIE10