%div.row
	%div.col-md-6
		%h1 Clientes
	%div.col-md-6
		%button.btn.btn-success{"data-target" => "#modalClient", "data-toggle" => "modal", :type => "button"} Nuevo cliente

%table.table#clients
	%thead
		%tr
			%th Nombre
			%th Código
			%th Ruc
			%th Consulta
			%th Dirección
			%th Factores
	%tbody
		- @clients.each do |client|
			= render 'partials/clients/row', client: client, my_class: ''

#modalClient.modal.fade{"aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
	.modal-dialog{:role => "document"}
		.modal-content
			.modal-header
				%button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
					%span{"aria-hidden" => "true"} ×
				%h4#myModalLabel.modal-title Cliente
			#form-body.modal-body
				= render 'partials/clients/form'