<table>
	<tr>
		<td>CLINICA SEÑOR DE LUREN</td>
	</tr>
	<tr>
		<td>Av. San Martín Nº 536 Urb. La Morales Ica - Perú</td>
	</tr>
	<tr>
		<td>Teléfono</td>
	</tr>
	<tr>
		<td>Ruc Nº :20494306043</td>
	</tr>
	<tr>
		<td colspan="2"></td>
	</tr>
</table>