<div class="col-md-2"></div>
<div class="col-md-8">
	<% @messages.each do |m| %>
		<div class="row">
			<div class="col-md-3">
				<%= m.employee.name + ': ' %>
			</div>
			<div class="col-md-6">
				<%= m.body %>
			</div>
			<div class="col-md-3">
				<%= m.created_at.strftime('%Y-%m-%d %H:%M:%S') %>
			</div>
		</div>
		
		<br>
	<% end %>
</div>
<div class="col-md-2"></div>