<h1>Registro de compra de productos : Farmacia</h1>
<p>¿Confirma que desea ingresar una nueva venta?</p>
<p>
	<%= form_tag(confirm_coverage_path, method: 'post') do %>
		<%= hidden_field_tag :authorization_id, params[:id] %>
		<%=submit_tag 'Confirmar', data: {confirm: '¿Está seguro que desea ingresar una cobertura?'} %>
	<% end %>
</p>