<div class="row">
	<div class="container">
		<div class="text-center">
			<%= image_tag('in_construction.png') %>
		</div>
	</div>
</div>

<%= Authorization.count %>
<% c = 0 %>
<% Authorization.all.each do |a| %>
	<% if a.pay_documents.exists? %>
		<% c = c+1 %>
	<% end %>
<% end %>
<% min = 9999999 %>
<% Authorization.all.each do |a| %>
<% if a.pay_documents.exists? %>
	<% if min > a.id %>
		<% min = a.id %>
	<% end %>
<% end %>
<% end %>
<%= c %>

Minimo <%= min %>