<div class="row">
	<% if @message == '1' %>
	<div class="alert alert-success" role="alert">
		<%= @message %>
	</div>
	<% end %>
</div>
<h1>Exportar servicios</h1>
<%= form_tag(export_services_path, method: 'post', role: 'form') do %>
<%= submit_tag 'Exportar' %>
<% end %>