<div class="row">
	<div class="col-md-6 text-center">
		<h3>Hombres Julio</h3>
		<%= column_chart Authorization.joins(:patient => {:insured => :insurance}).group('insurances.name').where('month(authorizations.date) = 7 and patients.sex = "M"').count, discrete: true, height: '500px' %>
	</div>
	<div class="col-md-6 text-center">
		<h3>Mujeres Julio</h3>
		<%= column_chart Authorization.joins(:patient => {:insured => :insurance}).group('insurances.name').where('month(authorizations.date) = 7 and patients.sex = "F" and insurances.id in (1,3,11,12)').count, discrete: true, height: '500px' %>
	</div>
</div>


<%= pie_chart Insured.joins(:insurance).group('insurances.name').count, discrete: true, height: '500px' %>
<div class="row">
	<div class="container">
		<div class="text-center">
			<%= image_tag('in_construction.png') %>
		</div>
	</div>
</div>