%table.table
	%tr
		%td #
		%td Código
		%td Paciente
		%td Teléfono
		%td Aseguradora
		%td Tipo
		%td Sub Tipo
		%td Fecha
		%td Hora
		%td Minutos
		- n = 0
	- @authorizations.each do |a|
		- n = n + 1
		%tr
			%td
				=n
			%td
				=a.code
			%td
				=a.patient.full_name
			%td
				=a.patient.phone.to_s
			%td
				=a.patient.insured.insurance.name
			%td
				=a.coverage.sub_coverage_type.coverage_type.name rescue 'No tiene cobertura registrada'
			%td
				=a.coverage.sub_coverage_type.name rescue 'No tiene sub cobertura registrada'
			%td
				=(a.date + 5.hours).strftime("%Y-%m-%d")
			%td
				=(a.date + 5.hours).strftime('%H')
			%td
				=(a.date + 5.hours).strftime('%M')