<table class="table">
	<thead>
		<tr>
			<th>Grupo</th>
			<th>Cantidad</th>
		</tr>
	</thead>
	<tbody>
		<% @patients.includes(:age_group).count.each do |patient| %>
			<tr>
				<td><%= AgeGroup.find(patient[0]).name rescue 'error' %></td>
				<td><%= patient[1] %></td>
			</tr>
		<% end %>
	</tbody>
</table>