<table class="table">
	<thead>
		<tr>
			<th>Periodo reporte</th>
			<th>Código Ipress</th>
			<th>Código Ugipress</th>
			<th>Sexo</th>
			<th>Grupo de edad</th>
			<th>Atenciones médicas</th>
			<th>Atenciones no médicas</th>
			<th>Número de atendidos</th>
		</tr>
	</thead>
	<tbody>
		<% 30.times do |group| %>
		<tr>
			<td>201510</td>
			<td>101130C</td>
			<td>101130C</td>
			<td><%= group % 2 + 1 %></td>
			<td><%= group / 2 + 1 %></td>
			<td><%= @array_patients_b[group].authorizations.joins(coverage: :sub_coverage_type).where("coverage_type_id = 5").count %></td>
			<td>0</td>
			<td><%= @array_patients_b[group].count %></td>
		</tr>
		<% end %>
	</tbody>
</table>