<table class="table">
	<thead>
		<tr>
			<th>Grupo</th>
			<th>Cantidad</th>
		</tr>
	</thead>
	<tbody>
		<% @array.sort.each do |key, value| %>
			<tr>
				<td><%= key %></td>
				<td><%= value %></td>
			</tr>
		<% end %>
	</tbody>
</table>