%h1 Admissions#new
%p Find me in app/views/admissions/new.html.erb
= form_tag(new_admission_path, method: 'post', role: 'form') do
  = select_tag :authorization_type_id, options_for_select(@authorization_types)
